In [7]:
import os
from pathlib import Path
from os.path import dirname
import logging
import pandas as pd
import yfinance as yf

In [25]:
BASE_DIR = R"C:\Users\tnord\OneDrive\Developer\py\trade_worst_paper"
DATA_DIR = os.path.join(BASE_DIR, 'data')
TICKER_FILES = os.path.join(BASE_DIR, 'ticker_files')
OUTPUT_DIR = os.path.join(BASE_DIR, 'output')

In [30]:
def stock_list(csv_file: str) -> list:
    stocks_ = pd.read_csv(os.path.join(TICKER_FILES, csv_file), header=None)
    return stocks_[0].to_list()

In [38]:
def download_stocks(
        tickers: list, start: str=None, end: str=None
) -> pd.DataFrame:
    _df = yf.download(tickers=tickers, start=start, end=end)
    _df.to_csv(os.path.join(DATA_DIR, 'stock_data.csv'))
    _df.to_parquet(os.path.join(DATA_DIR, 'stock_data.prq'))
    return _df

In [39]:
df = download_stocks(stock_list('oslo_all.csv'),start='2023-01-01')

[*********************100%***********************]  344 of 344 completed

16 Failed downloads:
- NTS.OL: No timezone found, symbol may be delisted
- KOMPL.OL: No data found for this date range, symbol may be delisted
- RAKP.OL: No timezone found, symbol may be delisted
- MSEIS.OL: No timezone found, symbol may be delisted
- GNP.OL: No timezone found, symbol may be delisted
- AINMT.OL: No timezone found, symbol may be delisted
- HOC.OL: No timezone found, symbol may be delisted
- FLYR.OL: No timezone found, symbol may be delisted
- ELOP.OL: No timezone found, symbol may be delisted
- NOC.OL: No timezone found, symbol may be delisted
- GEG.OL: No timezone found, symbol may be delisted
- ABT.OL: No timezone found, symbol may be delisted
- COOL.OL: No data found, symbol may be delisted
- PMG.OL: No timezone found, symbol may be delisted
- NRS.OL: No timezone found, symbol may be delisted
- HYARD.OL: No timezone found, symbol may be delisted

In [41]:
df = pd.read_parquet(os.path.join(DATA_DIR, 'stock_data.prq'))

In [44]:
close_df = df['Close']

In [57]:
close_df[['ZAP.OL', 'HYON.OL', 'EXTX.OL']]

               ZAP.OL  HYON.OL  EXTX.OL
Date
2023-01-02  21.500000   1.5390     12.0
2023-01-03  21.629999   1.5298     11.8
2023-01-04  22.120001   1.5996     12.0
2023-01-05  21.920000   1.6198     11.8
2023-01-06  22.000000   1.5590     11.8
...               ...      ...      ...
2023-05-11  39.299999   0.6000     11.0
2023-05-12  37.419998   0.5680     11.0
2023-05-15  37.599998   0.5660     12.0
2023-05-16  35.919998   0.5580     11.5
2023-05-19  37.099998   0.5480     11.5

[94 rows x 3 columns]

In [58]:
open_df = df['Open']

In [59]:
open_df[['ZAP.OL', 'HYON.OL', 'EXTX.OL']]

               ZAP.OL  HYON.OL  EXTX.OL
Date
2023-01-02  21.700001    1.440     12.0
2023-01-03  22.260000    1.500     12.0
2023-01-04  21.809999    1.400     12.0
2023-01-05  22.200001    1.500     12.0
2023-01-06  21.780001    1.560     11.8
...               ...      ...      ...
2023-05-11  39.619999    0.522     12.0
2023-05-12  39.040001    0.540     11.0
2023-05-15  36.980000    0.568     12.0
2023-05-16  37.139999    0.596     11.6
2023-05-19  36.000000    0.530     11.5

[94 rows x 3 columns]