In [3]:
import os
from pathlib import Path
from os.path import dirname
import logging
import pandas as pd
import yfinance as yf

In [4]:
from src.config import (
    BASE_DIR,
    STOCK_DATA,
    TICKER_FILES,
    REPORTS_DIR
)

In [5]:
def stock_list(csv_file: str) -> list:
    stocks_ = pd.read_csv(os.path.join(TICKER_FILES, csv_file), header=None)
    return stocks_[0].to_list()

In [6]:
def download_stocks(
        tickers: list, start: str=None, end: str=None
) -> pd.DataFrame:
    _df = yf.download(tickers=tickers, start=start, end=end)
    _df.to_csv(os.path.join(STOCK_DATA, 'stock_data.csv'))
    _df.to_parquet(os.path.join(STOCK_DATA, 'stock_data.prq'))
    return _df

In [13]:
df = download_stocks(stock_list('oslo_all.csv'),start=None)

[*********************100%***********************]  344 of 344 completed

15 Failed downloads:
- NRS.OL: No timezone found, symbol may be delisted
- HOC.OL: No timezone found, symbol may be delisted
- ABT.OL: No timezone found, symbol may be delisted
- AINMT.OL: No timezone found, symbol may be delisted
- RAKP.OL: No timezone found, symbol may be delisted
- ELOP.OL: No timezone found, symbol may be delisted
- MSEIS.OL: No timezone found, symbol may be delisted
- GNP.OL: No timezone found, symbol may be delisted
- NTS.OL: No timezone found, symbol may be delisted
- FLYR.OL: No timezone found, symbol may be delisted
- PMG.OL: No timezone found, symbol may be delisted
- COOL.OL: No data found, symbol may be delisted
- HYARD.OL: No timezone found, symbol may be delisted
- GEG.OL: No timezone found, symbol may be delisted
- NOC.OL: No timezone found, symbol may be delisted

In [18]:
df['Close'].describe()

,2020.OL,5PG.OL,AASB.OL,ABG.OL,ABL.OL,ABS.OL,ABT.OL,ACC.OL,ACR.OL,ADE.OL,...,WSTEP.OL,WWI.OL,WWIB.OL,XPLRA.OL,XXL.OL,YAR.OL,ZAL.OL,ZAP.OL,ZENA.OL,ZWIPE.OL
count,970.000000,1986.000000,1844.000000,5597.000000,2408.000000,562.00000,0.0,688.000000,5936.000000,1030.000000,...,1405.000000,5732.000000,3088.000000,627.000000,2165.000000,4833.000000,2240.000000,657.000000,1134.000000,1068.000000
mean,89.808144,3.866063,124.133134,6.079066,6.612911,16.64637,NaN,17.346118,1447.326455,109.934243,...,26.279359,153.501078,173.832324,23.228716,48.153957,281.360389,37.250647,41.015303,0.170996,15.498967
std,25.005957,5.166052,12.923885,2.736290,3.666181,4.33760,NaN,6.114108,2939.385341,33.133547,...,4.210341,62.635091,43.420111,13.297078,35.515424,113.239250,11.194246,12.405170,0.136520,8.289282
min,41.500000,0.221646,103.000000,1.800000,2.200000,9.60000,NaN,4.300000,4.855750,56.299999,...,14.800000,26.500000,25.000000,6.420000,2.040000,45.799999,19.900000,11.900000,0.036000,2.333996
25%,68.049999,0.990369,115.000000,4.240000,3.800000,13.96250,NaN,13.101250,18.038578,81.237501,...,23.799999,114.875000,146.500000,11.140000,16.480000,197.000000,29.500000,32.570000,0.097425,7.181147
50%,88.750000,1.899825,123.000000,5.600000,5.000000,16.00000,NaN,17.115001,123.861198,101.099998,...,25.799999,158.000000,167.500000,19.320000,30.654367,293.700012,33.850000,40.849998,0.113700,15.199000
75%,110.950001,3.976993,132.000000,7.050000,8.900000,18.69750,NaN,21.298750,1238.611694,138.750004,...,29.000000,197.000000,199.000000,36.900000,84.437775,365.000000,45.225000,50.150002,0.219500,21.652500
max,148.000000,36.312714,180.000000,16.000000,17.549999,30.00000,NaN,34.369999,19955.410156,188.100006,...,37.500000,291.000000,278.000000,54.000000,111.102333,500.799988,72.800003,68.500000,1.075000,38.000000

In [8]:
df = pd.read_parquet(os.path.join(STOCK_DATA, 'stock_data.prq'))

In [9]:
close_df = df['Close']

In [10]:
close_df[['ZAP.OL', 'HYON.OL', 'EXTX.OL']]

               ZAP.OL  HYON.OL  EXTX.OL
Date
2023-01-02  21.500000   1.5390     12.0
2023-01-03  21.629999   1.5298     11.8
2023-01-04  22.120001   1.5996     12.0
2023-01-05  21.920000   1.6198     11.8
2023-01-06  22.000000   1.5590     11.8
...               ...      ...      ...
2023-05-11  39.299999   0.6000     11.0
2023-05-12  37.419998   0.5680     11.0
2023-05-15  37.599998   0.5660     12.0
2023-05-16  35.919998   0.5580     11.5
2023-05-19  37.099998   0.5480     11.5

[94 rows x 3 columns]

In [11]:
open_df = df['Open']

In [12]:
open_df[['ZAP.OL', 'HYON.OL', 'EXTX.OL']]

               ZAP.OL  HYON.OL  EXTX.OL
Date
2023-01-02  21.700001    1.440     12.0
2023-01-03  22.260000    1.500     12.0
2023-01-04  21.809999    1.400     12.0
2023-01-05  22.200001    1.500     12.0
2023-01-06  21.780001    1.560     11.8
...               ...      ...      ...
2023-05-11  39.619999    0.522     12.0
2023-05-12  39.040001    0.540     11.0
2023-05-15  36.980000    0.568     12.0
2023-05-16  37.139999    0.596     11.6
2023-05-19  36.000000    0.530     11.5

[94 rows x 3 columns]