In [1]:
import os
from pathlib import Path
from os.path import dirname
import logging
import pandas as pd
import yfinance as yf

In [2]:
from src.config import (
    BASE_DIR,
    STOCK_DATA,
    TICKER_FILES,
    REPORTS_DIR
)

In [3]:
def stock_list(csv_file: str) -> list:
    stocks_ = pd.read_csv(os.path.join(TICKER_FILES, csv_file), header=None)
    return stocks_[0].to_list()

In [4]:
def download_stocks(
        tickers: list, start: str=None, end: str=None
) -> pd.DataFrame:
    _df = yf.download(tickers=tickers, start=start, end=end)
    _df.to_csv(os.path.join(STOCK_DATA, 'stock_data.csv'))
    _df.to_parquet(os.path.join(STOCK_DATA, 'stock_data.prq'))
    return _df

In [5]:
df_all = pd.read_parquet(os.path.join(STOCK_DATA, 'stock_data.prq'))

In [6]:
len(df_all[df_all.index > '2023-03-31'])

31

In [7]:
df_close = df_all['Close']
df_volume= df_all['Volume']

In [13]:
df_volume.iloc[-31:]

,2020.OL,5PG.OL,AASB.OL,ABG.OL,ABL.OL,ABS.OL,ABT.OL,ACC.OL,ACR.OL,ADE.OL,...,WSTEP.OL,WWI.OL,WWIB.OL,XPLRA.OL,XXL.OL,YAR.OL,ZAL.OL,ZAP.OL,ZENA.OL,ZWIPE.OL
Date,,,,,,,,,,,,,,,,,,,,,
2023-04-03,102683,377601,300,218093,50968,0,NaN,714984,90267,359959,...,43158,3374,1027,40588,904878,236333,4612,495773,19184700,16647
2023-04-04,45569,210897,0,159811,3772,33462,NaN,631921,171770,846539,...,8900,5084,1440,112827,250396,310151,37169,203429,8016554,5020
2023-04-05,88033,65925,0,57033,8910,600,NaN,225870,23812,333896,...,8023,2343,2782,30856,134971,338826,16114,178638,4009618,100
2023-04-11,164974,688972,0,46690,65929,21247,NaN,556418,516129,358897,...,22495,2008,657,347582,163937,597056,56048,294462,7476390,6517
2023-04-12,120017,330746,1000,945719,10167,10974,NaN,483625,212462,435205,...,2493,57584,14532,369999,239251,519469,57144,164972,4174001,17131
2023-04-13,139378,260903,3,210981,3970,0,NaN,401338,111160,344364,...,323817,7187,53237,97195,178936,536864,26762,684308,8281318,36057
2023-04-14,86449,1098502,250,117465,61901,0,NaN,310751,278043,352848,...,16202,4637,969,51922,325486,448440,23271,567141,5525209,10344
2023-04-17,149504,555436,0,230107,19439,580,NaN,701899,311596,360822,...,434,2167,2541,42847,596458,419648,5099,695613,19045171,9890
2023-04-18,136576,1009127,0,109009,10000,35924,NaN,1079050,416115,323093,...,1030,4577,345,665269,286412,370905,10147,755998,12402041,300
2023-04-19,187554,1020418,271,173739,31010,0,NaN,881647,134982,203484,...,5238,11536,4680,229639,316967,654391,21749,517613,1645414,12552
2023-04-20,90757,315442,0,194518,28669,0,NaN,827009,81937,198043,...,19275,11055,2152,25864,256569,325987,22623,118832,3544471,0
2023-04-21,63576,459195,0,291958,23270,0,NaN,1167640,152840,273428,...,2004,5458,1308,35589,1671905,338927,17561,820948,1656921,56
2023-04-24,84450,581252,102,277945,9325,7770,NaN,865672,184779,218975,...,811,3248,440,62719,657975,357319,38468,394497,3609174,120
2023-04-25,101398,393001,743,243000,13959,0,NaN,789014,220974,201216,...,4797,26216,2153,56560,615686,822808,12093,536008,11031073,840
2023-04-26,71328,227050,55,552130,24948,0,NaN,2785970,85869,502281,...,13919,6953,1541,48054,2038682,664005,53754,549061,1884969,3084
2023-04-27,120300,292055,0,829791,21585,15342,NaN,2610479,148019,777505,...,7756,8968,4853,100938,1018471,458066,23106,307506,8843515,6563
2023-04-28,62289,202128,0,938682,192767,24516,NaN,823122,144810,543269,...,14991,6731,2171,49893,913531,1210685,13431,498242,2985402,25
2023-05-02,264003,162195,0,335750,70668,4000,NaN,959576,117499,498851,...,8705,12231,12351,62215,448022,723433,13107,343477,6212116,12
2023-05-03,67106,391617,0,903455,149137,0,NaN,776183,235506,334832,...,16247,1678,1362,63302,403571,651824,39970,545908,1767057,0
2023-05-04,166808,313192,0,260061,47687,89,NaN,515866,85674,297020,...,2222,19385,12069,38078,781237,550342,7371,218847,3310004,11844
2023-05-05,105794,172337,0,153912,53234,0,NaN,761723,97345,235480,...,12864,6255,6751,13050,624273,638575,5112,499477,2613523,0
2023-05-08,94665,160883,0,344693,20583,19718,NaN,1113014,209796,240187,...,79754,5803,626,4778,266179,356000,856,602661,5813176,13871
2023-05-09,103245,467585,0,2683756,5268,200,NaN,470080,435020,512016,...,1060,43602,1554,81804,5027827,856827,34216,535296,989000,12960
2023-05-10,167395,136184,0,584572,15581,26359,NaN,905557,372266,417847,...,4247,9027,24585,187026,2046240,562227,11316,1804309,1701703,1998
2023-05-11,299586,199729,50,119681,16928,18295,NaN,932039,172267,396492,...,16598,5239,2862,288795,592763,691476,79775,647760,1096921,2114
2023-05-12,147017,69260,360,248860,2807,30105,NaN,555008,278020,272621,...,13895,8913,6183,626707,984703,520007,41660,463141,722300,2432
2023-05-15,134151,122682,0,417525,38558,23849,NaN,3977731,188245,393287,...,11861,18357,5251,212441,421615,437855,25612,585910,1955684,577
2023-05-16,154017,843927,50,259814,1397,73051,NaN,1832250,325236,392680,...,4823,18945,7223,124251,1069084,356310,4791,347520,57351,11026
2023-05-19,113382,259395,50,386365,45028,34926,NaN,1135348,453020,576037,...,15126,8250,2463,72495,277360,609497,14032,437305,2212639,770
2023-05-22,60833,1210960,4155,423537,8800,15000,NaN,861558,797024,618450,...,2446,8071,3108,122625,368127,338691,67197,311030,8740852,5412
2023-05-23,64555,805998,1530,100597,17206,5857,NaN,530912,274637,324168,...,12675,6774,15179,46537,372531,421048,108790,278018,4249272,30251

In [42]:
def remove_zero_volume(df_volume: pd.DataFrame, date: str):
    last_volume = df_volume[df_volume.index > date]
    tickers = []
    for col in last_volume:
        n = len(last_volume[last_volume[col] == 0])
        if n == 0:
            tickers.append(col)
    return tickers

In [44]:
len(remove_zero_volume(df_volume=df_volume, date='2023-03-31'))

268

ZAP.OL 0
HYON.OL 0
EXTX.OL 22

In [7]:
# df = download_stocks(stock_list('oslo_all.csv'),start=None)

In [8]:
# df['Close'].describe()

In [9]:
# df = pd.read_parquet(os.path.join(STOCK_DATA, 'stock_data.prq'))

In [10]:
# close_df = df['Close']

In [11]:
# close_df[['ZAP.OL', 'HYON.OL', 'EXTX.OL']]

In [12]:
# open_df = df['Open']

In [13]:
# open_df[['ZAP.OL', 'HYON.OL', 'EXTX.OL']]