## Portfolio

In [1]:
from os import path
from os.path import join
import pandas as pd
import yfinance as yf

In [2]:
from src.config import (
    REPORTS_DIR
)

In [3]:
trades = pd.read_csv(join(REPORTS_DIR, 'trades.csv'))

In [4]:
trades

         date action     paper  number   price  cost
0  2023-05-15    inv       NOK   30000   1.000     0
1  2023-05-15    buy   EXTX.OL     830  12.000    29
2  2023-05-15    buy   HYON.OL   16700   0.568    29
3  2023-05-15    buy    ZAP.OL     265  36.980    29
4  2023-05-22   sell   EXTX.OL     830  12.000    29
5  2023-05-22   sell   HYON.OL   16700   0.526    29
6  2023-05-22   sell    ZAP.OL     265  38.400    29
7  2023-05-22    buy   RANA.OL     173  54.000    29
8  2023-05-22    buy    SBO.OL     283  32.000    29
9  2023-05-22    buy  SKAND.OL   21600   0.435    29

In [5]:
# trades['action_'] = if trades['action'] == 'buy' : -1 else 1
# df['equal_or_lower_than_4?'] = df['set_of_numbers'].apply(lambda x: 'True' if x <= 4 else 'False')
trades['action_'] = trades['action'].apply(lambda action: 1 if action=='buy' else -1)

In [6]:
trades['value'] = trades['number'] * trades['price'] * trades['action_'] + trades['cost']

In [7]:
trades['value'].sum()

-1619.900000000005

In [8]:
trades.to_csv(join(REPORTS_DIR, 'trades_calc.csv'))

In [9]:
txt = input('Ticker')

In [10]:
txt

'ZAP.OL'